*{
    margin: 0px;
}

#content{
    width: 100%;
    height: 73%;
/*    background-color: #b4e2b3;*/
    padding-top: 13%;
    background-image:url("../imagens/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#cadastro{
    width: 400px;
    height: 330px;
    background-color: rgba(242, 239, 239, 0.81);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Eras ITC' , sans-serif;
    border-radius: 5px;
    
}

#titulo_caixa{
    width: 100%;
    height: 40px;
/*    background-color: yellow;   */
    font-size: 40px;
    font-weight: bold;  
}

.titulo{
    width: 100%;
    height: 40px;
/*    background-color: darkorange;   */
    
}

.campo{
    width: 100%;
    height: 40px;
/*    background-color: purple;*/
}

.caixa{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #b9b6b6;
}

.botao{
    width: 100px;
    height: 40px;
    background-color: #28a745;
    border: solid 1px #28a745;
    color: white;
    border-radius: 3px;
    font-size: 16px; 
    font-weight: bold;
}

.botao:hover{
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
}

.botao_voltar{
    width: 100px;
    height: 30px;
    background-color: #aa0b0b;
    border: solid 1px #a20909;
    color: white;
    border-radius: 3px;
    font-size: 16px; 
    font-weight: bold;
    margin-left: 65px;
    float: left;
    font-family: sans-serif;
    padding-top: 10px;
    
}

.botao_voltar:hover{
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
}

/************************** CSS Gui ***************************/

#centro{
    
    width: 300px;
    height: 60px;
    font-size: 40px;
    text-decoration-color: #ffffff;
    font-style: bold;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

#referencia{
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

/************************** CSS Arthur ***************************/

body{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
    
}

header{
  width: 100%;
  height: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 55px;
  line-height: 150px;
  vertical-align: middle;
}

#logo{
    width: 20%;
    height: 100%;
    float: left;
}

#cabacalho{
    width: 60%;
    height: 100%;
    float: left;
}

#teste{
    width: 20%;
    height: 100%;
    float: left;
}

.informacoes{
    width: 100%;
    height: 70%;
    font-size: 22px;
}

#botao_sair{
    width: 100%;
    height: 30%;
}

.sair{
    width: 100px;
    height: 40px;
    background-color: #aa0b0b;
    border: solid 1px #a20909;
    color: white;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.sair:hover{
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
}

#content_home{
    width: 100%;
    height: 73%;
    background-image:url("../imagens/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;

}

main{
  width: 60%;
  min-height: 660px;
  background-color: rgba(255, 255, 255, 0.44);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 80px black;
    
}

.espacamento{
  width: 100%;
  height: 20px;
}

.containerCadastro{
  width: 98%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(208, 202, 202, 0.64);
  border-radius: 10px;
}

.containerCadastro:hover{
    
   background-color: rgba(208, 202, 202, 0.9); 
}

.tituloContainer{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 900;
}

.containerCampos{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.campos{
    width: 49%;
    height: 150px;
    float: left;
/*    background-color: #cdcdcd;*/
    margin-left: 5px;
}

.caixa_titulo{
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #b9b6b6;
    margin-left: 5px;
    margin-top: 35px;
}

#txt_area{
    width: 96%;
    height: 95px;
    margin-top: 5px;
    margin-left: 5px;
    resize: none;
    border-radius: 5px;
    border: solid 1px #b9b6b6;
}

#area_botao{
    width: 100%;
    height: 40px;
    float: left;
    padding-top: 5xp;
/*    padding-left: 400px;*/
}

#area{
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.botao_tarefa{
    width: 100px;
    height: 40px;
    background-color: #28a745;
    border: solid 1px #28a745;
    color: white;
    border-radius: 3px;
    font-size: 16px; 
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    
}

.botao_tarefa:hover{
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
}

.containerLista{
  width: 95%;
  min-height: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.tabela{
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(208, 202, 202, 0.64);
    border-radius: 10px;
}

.tabela:hover{
    
   background-color: rgba(208, 202, 202, 0.9); 
}

.linhaTitulo{
    width: 100%;
    height: 50px;
}

.caixaTitulo{
    width: 40%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

.opcoes{
    width: 16%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

.caixaTarefas{
    width: 100%;
    height: 280px;
    overflow: auto;
}

.linhaTarefa{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
}

.caixaTarefa{
    width: 40%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 5px;
    overflow: hidden;
}

.opcoesTarefa{
    width: 16%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

.menu{
  text-decoration: none;
  color: white;  
}

footer{
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}