body{
  padding: 0px;
  margin: 0px;
  background-color: #b4e2b3;
}

header{
  width: 100%;
  height: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 55px;
  line-height: 150px;
  vertical-align: middle;
}

main{
  width: 80%;
  height: 747px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

.espacamento{
  width: 100%;
  height: 40px;
}

.tituloContainer{
    width: 100%;
    height: 40px;
    background-color: #dcdcdc;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 900;
}

.containerCadastro{
  width: 85%;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.containerLista{
  width: 85%;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.containerCampos{
    width: 95%;
    height: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.campos{
    width: 450px;
    height: 150px;
    float: left;
    background-color: #cdcdcd;
    margin-right: 20px;
}

.input{
    width: 400px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
}

textarea{
    margin-top: 10px;
    margin-left: 35px;
    resize: none;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
}

.botao{
    width: 100px;
    height: 50px;
    margin-top: 50px;
    margin-left: 75px;
    float: left;
}

.botaoStyle{
    width: 100px;
    height: 50px;
    background-color: #00ff0c;
    border: 1px solid black;
}

.botaoStyle:hover{
    border: 3px solid black;
}

.tabela{
    width: 90%;
    height: 330px;
    background-color: #dcdcdc;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.linhaTitulo{
    width: 100%;
    height: 50px;
}

.caixaTitulo{
    width: 440px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
}

.opcoes{
    width: 275px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
}

.caixaTarefas{
    width: 100%;
    height: 280px;
    overflow: auto;
}

.linhaTarefa{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
}

.caixaTarefa{
    width: 440px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
}

.opcoesTarefa{
    width: 275px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 800;
}

a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: white;
}
a:active{
    text-decoration: none;
    color: white;
}
